@model CompanyCreateVM

@{
    ViewBag.Title = "Edit Company";
    ViewBag.PageLegend = "Edit Company";
}

<div class="row">
    <div class="col-md-12">
        <!--breadcrumbs start -->
        <ul class="breadcrumb">
            <li><a asp-controller="Dashboard" asp-action="Index"><i class="fa fa-home mr-1"></i>Home</a></li>
            <li><a>Administration</a></li>
            <li><a asp-controller="Administration" asp-action="ListCompany"><i class="fa fa-user mr-1"></i>Company List</a></li>
            <li class="active"><a>Edit Company</a></li>
        </ul>
        <!--breadcrumbs end -->
    </div>
</div>

<h1>Edit Company</h1>

<form method="post" class="mt-3">
    <div class="row">
        <div class="col-lg-12">
            <label asp-for="id" class="col-sm-2 col-form-label"></label>
            <input asp-for="id" disabled class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <label asp-for="CompanyName" class="col-sm-2 col-form-label"></label>
            <input asp-for="CompanyName" class="form-control">
            <span asp-validation-for="CompanyName" class="text-danger"></span>
        </div>
    </div>

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-1">

                <button type="submit" asp-route-id="@Model.id"
                        asp-action="EditCompany" asp-controller="Administration" class="btn btn-primary">Update</button>

            </div>
<div class="col-lg-1">
        <button asp-action="DeleteCompany" asp-controller="Administration" asp-route-id="@Model.id" class="btn btn-danger" type="submit">Delete</button>

</div>
<div class="col-lg-1">
    <a asp-action="ListCompany" asp-controller="Administration" class="btn btn-primary">Cancel</a>
</div>
                   </div>
  </div>
 </form>
